build/
build-*/
out/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt

CMakeUserPresets.json

.vscode/

.idea/

*.vcxproj
*.vcxproj.filters
*.sln
*.user
*.suo
*.cache/

*.o
*.obj
*.lo
*.la
*.a
*.lib
*.dylib
*.dll
*.so
*.exe
*.pdb
*.mod
*.pch
*.pdb
*.rsp

*.gcno
*.gcda
*.gcov
*.profraw
*.profdata

*.log
*.cache
*.tmp
tmp/

ccache/
.cache/

.DS_Store

compile_commands.json
